<main class="home">
  <section class="mvertical-10">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/">Help Center</a></li>
        <li><a href="/">TV</a></li>
        <li class="active">Solution page</li>
      </ol>
      <a class="back" href="/"> &#60; Back to Help Center </a>
    </div>
  </section>
  <section class="gallery-section">
    <div class="container">
      <h1>Welcome to FiOS! Installing your Frontier TV Equipment is easy.</h1>
      <p>To set up your Frontier TV Equipment you need to have your Router set up first.</p>
      <ul>
        <li><a href="#">Click here to check out your how to install your Router.</a></li>

      </ul>
      <br>
      <h4>If the service ready date is today or in the past, you can proceed right now. Let’s get started!</h4>
    </div>
  </section>

  <section class="galllery-steps">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <figure>
            <img class=" img-responsive text-center m-auto " src="../images\self-intall\01_FiOS-STB-in-Box_01.jpg" alt="">
            <figcaption><span class="count">1.</span> <span class="info">Look for the box that has a set-top box and cables.</span></figcaption>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure>
            <img class=" img-responsive text-center m-auto " src="../images\self-intall\02_FiOS-STB-Out-of-Box_01.jpg" alt="">
            <figcaption><span class="count">2.</span> <span class="info">There are cables for connection, a cable wire, a power cord, and your FiOS remote.</span></figcaption>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure>
            <img class=" img-responsive text-center m-auto " src="../images\self-intall\03_DSC_0201_00001.jpg" alt="">
            <figcaption><span class="count">3.</span> <span class="info">Now is a good time to make a note on your Quick Setup Guide of the number in the back of your set-top box. It’s your equipment ID in case you ever need to contact tech support.</span></figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <figure>
            <img class=" img-responsive text-center m-auto " src="../images\self-intall\04A_DSC_0009.jpg" alt="">
            <figcaption><span class="count">4.</span> <span class="info">. In the box you will find an HDMI connection, and a cable for components.</span></figcaption>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure>
            <img class=" img-responsive text-center m-auto " src="http://via.placeholder.com/370x247?text=image" alt="">
            <figcaption><span class="count">5.</span> <span class="info">Both do the same thing. Which one you use depends of the ports you have on the back of your TV.</span></figcaption>
          </figure>
        </div>
        <div class="col-sm-4">
          <figure>
            <img class="img-responsive text-center m-auto " src="../images\self-intall\06A_DSC_0015.jpg" alt="replace">
            <figcaption><span class="count">6.</span> <span class="info">We will show you how to connect the HDMI. Plug one end of the cable into the HDMI labeled port on the back of the set-top box.</span></figcaption>
          </figure>
        </div>
      </div>
      </div><!-- container -->
  </section>

  <section class="section dark">
    <div class="container">
      <div class="row vertical-align">
        <div class="col-sm-6">
          <iframe style="width:100%" height="300px" src='//players.brightcove.net/4821467228001/BkZGPpHw_default/index.html?videoId=5027783730001' allowfullscreen frameborder=0></iframe>
        </div>
        <div class="col-sm-6">
          <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. consequat, vel illum dolore eu feugiat nulla facilisis at</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h3>Consectetuer adipiscing elit</h3>
      <ul class="list-styled">
        <li>Sed diam nonummy nibh euismod</li>
        <li>ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</li>
        <li>Duis autem vel eum iriure dolor in hendrerit in</li>
        <li>dolore eu feugiat nulla facilisis at vero eros et</li>
        <li>accumsan et iusto odio dignissim qui blandit</li>
        <li>praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</li>
        <li>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit,</li>
      </ul>


    </div>
  </section>

  <section class="section">
    <div class="container">
      <section class="vertical-center-4 slider">
        <div>
          <img src="http://placehold.it/350x200?text=1">
        </div>
        <div>
          <img src="http://placehold.it/350x200?text=2">
        </div>
        <div>
          <img src="http://placehold.it/350x200?text=3">
        </div>
        <div>
          <img src="http://placehold.it/350x200?text=4">
        </div>
        <div>
          <img src="http://placehold.it/350x200?text=5">
        </div>
        <div>
          <img src="http://placehold.it/350x200?text=6">
        </div>
        <div>
          <img src="http://placehold.it/350x200?text=7">
        </div>
        <div>
          <img src="http://placehold.it/350x200?text=8">
        </div>
        <div>
          <img src="http://placehold.it/350x200?text=9">
        </div>
        <div>
          <img src="http://placehold.it/350x200?text=10">
        </div>
      </section>


    </div>
  </section>

  <section class="section super-dark">
    <div class="container">
      Was this article helpful for you? <button class="btn btn-ftr">Yes</button> <button class="btn btn-ftr">No</button>
    </div>

  </section>

  <section class="section">
    <div class="container">
      Consectetuer adipiscing elit
      Sed diam nonummy nibh euismod?
      ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat?
      Duis autem vel eum iriure dolor in hendrerit in?
    </div>
  </section>

  <section class="mvertical-50 moving-up">
    <div class="container">
        <h3 class="text-center mb-30">Text to be Defined<sup>&circledR;</sup></h3>
        <div class="row">
          <div class="col-sm-4">
            <img class=" img-responsive text-center mb-20" src="../images/call-us.jpg" alt="">
            <h4 class="text-center mb-20">Call Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p>
          </div>
          <div class="col-sm-4">
            <img class=" img-responsive text-center mb-20" src="../images/pricing.jpg" alt="">
            <h4 class="text-center mb-20">Online Chat</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p>
          </div>
          <div class="col-sm-4">
            <img class=" img-responsive text-center mb-20" src="../images/support-wizard.jpg" alt="">
            <h4 class="text-center mb-20">Support Wizard</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p>
          </div>
        </div>
    </div>

  </section>

  <section class=" social-buttons mb-50">
    <div class="container">
      <h3 class="text-center">Text to be defined</h3>
      <ul class="list-inline text-center">
        <li><a href="" class="twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a href="" class="facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href=""  class="google-plus"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </section>


</main>
